{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <ul> 
        <li> Find the ideal gift for your loved ones.</li>
        <li>   <a class="button button--primary" href=""><span>CHOOSE GIFT</span> {% render 'white-arrow' %}  </a></li>
        </ul>

        {% comment %} <p> </p>
        <div class="mobile-last-div">
          <a class="button button--primary" href=""><span>CHOOSE GIFT</span> {% render 'white-arrow' %}  </a>
          </div> {% endcomment %}

        </div>
      </div>
    </div>
  </details>
</header-drawer>
